.changeCursor{
    -fx-cursor: hand;
}

.btn{
    -fx-background-color:  #ff6666;
    -fx-border-color: none;
}

.btn:hover{
    -fx-background-color: #ff4d4d;
}

.lbl{
    -fx-border-color: black transparent black black;
    -fx-padding: 0 0 0 5;
    -fx-background-color: #F5FFFA;
}
